/* ==========================================================================
   Soft theme skin
   ========================================================================== */

/* Colors */
$base-color: mix(#625772, #a9eee6, 75%) !default;
$text-color: #625772 !default;
$accent-color: #e85482 !default;
$background-color: #fefaec !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
