//
// Steel theme skin
//

// Colors
$base-color: #3a4750 !default;
$text-color: #303841 !default;
$accent-color: #d72323 !default;
$background-color: #eeeeee !default;
$code-background-color: #ffffff !default;
$border-color: rgba($text-color, 0.25) !default;
$overlay-color: #ffffff !default;