{% if cv.basics.summary %}
  <div class="summary">
    {{ cv.basics.summary | markdownify }}
  </div>
{% endif %}

<div id="contact" class="entry">
  <header class="entry-header">
    <h3 class="entry-title">Contact</h3>
  </header>

  <div class="entry-content">
    {% if cv.basics.email %}
      <div class="email"><strong>Email</strong> <a href="mailto:{{ cv.basics.email }}">{{ cv.basics.email }}</a></div>
    {% endif %}
    {% if cv.basics.kakaotalk %}
      <div class="kakaotalk"><strong>Kakaotalk</strong> {{ cv.basics.kakaotalk }}</div>
    {% endif %}
    {% if cv.basics.profiles %}
      {% for p in cv.basics.profiles %}
        <div class="item">
          {% if p.network %}
            <strong class="network">{{ p.network | append: ' ' }}</strong>
          {% endif %}
          {% if p.username %}
            <span class="username">
              {% unless p.url == '' or p.url == nil %}
                <a href="{{ p.url }}">{{ p.username }}</a>
              {% else %}
                {{ p.username }}
              {% endunless %}
            </span>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>