{% if cv.others %}
  <div id="others" class="entry">
    <header class="entry-header">
      <h3 class="entry-title">Others</h3>
    </header>

    <div class="entry-content">
      {% for a in cv.others %}
        {% if a.title %}
          <h4 class="title">{{ a.title }}</h4>
        {% endif %}
        {% if a.date %}
          <div class="date">{{ a.date }}</div>
        {% endif %}
        {% if a.summary %}
          <div class="summary">{{ a.summary | markdownify }}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}