/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
  margin-top: 4rem;
  font-size: 80%;
  color: tint($text-color, 40%);
}

.copyright {
  font-family: $monospace-font-family;
}