/* ==========================================================================
   Page intro
   ========================================================================== */

#intro {
  margin: 1rem 0 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.intro-text {

  /* remove space after last child element */
  > *:last-child {
    margin-bottom: 0;
  }
}

.intro-title {
  margin-bottom: 0.5rem;
  color: tint($text-color, 25%);
  @include fluid-type($min-vw, $max-vw, 26px, 80px);
  line-height: 1;
}

.intro-subtitle {
  @include fluid-type($min-vw, $max-vw, 18px, 28px);
  font-style: italic;
}

.intro-actions {
  @include list-unstyled;

  li {
    display: inline-block;
  }
}