---
layout: default
---

{% assign cv = site.data.cv %}
{% include cv/intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>
    <div>
      <div class="entries">
        {% include cv/basics.html %}
        {% include cv/work.html %}
        {% include cv/skills.html %}
        {% include cv/education.html %}
        {% include cv/interests.html %}
        {% include cv/volunteer.html %}
        {% include cv/awards.html %}
        {% include cv/languages.html %}
      </div>
    </div>
  </div>
</main>
